<h1 style="color:darkcyan;">Telecom Churn Prediction Model</h1>

**Author**: Tania Green<br>
**Dataset**: Telco Customer Churn (https://www.kaggle.com/datasets/blastchar/telco-customer-churn)

---

## Table of Contents

- [1. Business Understanding](#1-business-understanding)
- [2. Data Exploration](#2-data-exploration)
- [3. Data Transformation](#3-data-transformation)
- [4. Exploratory Data Analysis](#4-exploratory-data-analysis)
  - [4.1 Churn by Demographics](#41-churn-by-demographics)
  - [4.2 Churn by Service Usage](#42-churn-by-service-usage)
  - [4.3 Churn by Billing Details](#43-churn-by-billing-details)
- [5. Feature Engineering](#5-feature-engineering)
- [6. Modeling](#6-modeling)
- [7. Model Evaluation](#7-model-evaluation)
- [8. Conclusion](#8-conclusion)

<h2 style="color:darkcyan;">1. Business Understanding</h2>

This project explores patterns in customer behavior to predict **churn**-the likelihood that a telecom customer will cancel their service. By leveraging customer demographics, service usage, and billing details, we aim to identify key drivers of churn and build a classification model to support retention strategies.

**Research Question**: What customer characteristics are most associated with churn, and can we build a model to predict which customers are at risk of leaving? <br>
**Goal**: Identify the key factors that contribute to customer churn and develop a predictive model to help the business take preventative action.<br>

---

## Dataset Overview
The dataset contains 7,043 records of telecom customers, each described by demographic, service, and billing features. The target variable is `Churn`.

### Column Descriptions

- **customerID:** Unique identifier for each customer  
- **gender:** Customer's gender: Male or Female  
- **SeniorCitizen:** 1 if the customer is a senior citizen, 0 otherwise  
- **Partner:** Yes if the customer has a partner, No otherwise  
- **Dependents:** Yes if the customer has dependents, No otherwise  
- **tenure:** Number of months the customer has stayed with the company  
- **PhoneService:** Yes if the customer has phone service, No otherwise  
- **MultipleLines:** Yes if the customer has multiple lines, No, or No phone service  
- **InternetService:** Type of internet service: DSL, Fiber optic, or No  
- **OnlineSecurity:** Whether the customer has online security: Yes, No, or No internet service  
- **OnlineBackup:** Whether the customer has online backup: Yes, No, or No internet service  
- **DeviceProtection:** Whether the customer has device protection: Yes, No, or No internet service  
- **TechSupport:** Whether the customer has tech support: Yes, No, or No internet service  
- **StreamingTV:** Whether the customer has streaming TV: Yes, No, or No internet service  
- **StreamingMovies:** Whether the customer has streaming movies: Yes, No, or No internet service  
- **Contract:** Type of contract: Month-to-month, One year, or Two year  
- **PaperlessBilling:** Yes if the customer uses paperless billing, No otherwise  
- **PaymentMethod:** Method of payment (e.g., Electronic check, Mailed check, Bank transfer, Credit card)  
- **MonthlyCharges:** Amount charged to the customer monthly  
- **TotalCharges:** Total amount charged to the customer  
- **Churn:** Target variable: Yes if the customer left, No otherwise

---
<h2 style="color:darkcyan;">2. Data Exploration</h2>

In this section, we imported and assessed the data, focusing on data types and summary statistics.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
churn_df = pd.read_csv('data/WA_Fn-UseC_-Telco-Customer-Churn.csv')
churn_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
churn_df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

---
<h2 style="color:darkcyan;">3. Data Transformation</h2>

In this section, we converted data types. The dataset did not contain duplicate customer IDs, inconsistent formatting for categorical columns, and null values.

In [5]:
def show_unique_column_values(dataframe, column_name):
    """
    Function that returns the unique values in a given column.
    
    Parameters:
    dataframe - the dataframe that holds the column
    column_name - the name of the column being assessed
    
    Returns:
    array including the unique column values
    """
    unique_values = dataframe[column_name].unique()
    return unique_values

In [6]:
#1 identify the columns that should be intergers or floats & convert them
churn_df['TotalCharges'] = churn_df['TotalCharges'].replace(' ', np.nan)
churn_df['TotalCharges'] = churn_df['TotalCharges'].astype(float)

In [7]:
show_unique_column_values(churn_df, 'tenure')

array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
       21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
        9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
       36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
       54, 51, 26,  0, 39])

In [8]:
churn_df['tenure'] = churn_df['tenure'].astype(int)

In [9]:
show_unique_column_values(churn_df, 'SeniorCitizen')

array([0, 1])

In [10]:
# using a for loop to quickly check the unique values in all the categorical columns
for col in churn_df.select_dtypes(include='object'):
    print(f"\n{col}:\n", churn_df[col].unique())

customerID:
 ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']

gender:
 ['Female' 'Male']

Partner:
 ['Yes' 'No']

Dependents:
 ['No' 'Yes']

PhoneService:
 ['No' 'Yes']

MultipleLines:
 ['No phone service' 'No' 'Yes']

InternetService:
 ['DSL' 'Fiber optic' 'No']

OnlineSecurity:
 ['No' 'Yes' 'No internet service']

OnlineBackup:
 ['Yes' 'No' 'No internet service']

DeviceProtection:
 ['No' 'Yes' 'No internet service']

TechSupport:
 ['No' 'Yes' 'No internet service']

StreamingTV:
 ['No' 'Yes' 'No internet service']

StreamingMovies:
 ['No' 'Yes' 'No internet service']

Contract:
 ['Month-to-month' 'One year' 'Two year']

PaperlessBilling:
 ['Yes' 'No']

PaymentMethod:
 ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Churn:
 ['No' 'Yes']

In [11]:
# confirming that data types were updated
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [12]:
# check for duplicate customers
churn_df['customerID'].duplicated().sum()

0

In [13]:
churn_df[churn_df['customerID'].duplicated()]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [14]:
internet_services = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
                     'TechSupport', 'StreamingTV', 'StreamingMovies']

# Look for rows where a customer has "No internet service" in one column,
# but "Yes" or "No" in another — i.e., inconsistent
mask = churn_df[internet_services].apply(lambda x: (x != 'No internet service').any(), axis=1)
churn_df[ (churn_df['InternetService'] == 'No') & mask ]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

---
<h2 style="color:darkcyan;">4. Exploratory Data Analysis</h2>

In this section, we assessed how churn varies by various focus groups including customer demographics, service type, and contract/billing.

In [15]:
# find the avg tenure

average_tenure = churn_df['tenure'].mean()
print(average_tenure)

# think i need to find the avg churn instead

32.37114865824223

**<h3 style="color:black;">4.1 Churn by Customer Demographics</h3>**

In [16]:
def churn_by_column(dataframe_name, column_name):
    """
    Assesses the churn rate by a given categorical column (e.g., gender, SeniorCitizen, Contract).

    Parameters:
    dataframe_name - name of the dataframe containing the churn data
    column_name - name of the column to assess churn distribution across

    Returns:
    DataFrame - A table showing churn rates (Yes/No) as a proportion within each category of the column
    """

    churn_summary = dataframe_name.groupby(column_name)['Churn'].value_counts(normalize=True).unstack()
    return churn_summary

In [17]:
gender_churn = churn_by_column(churn_df, 'gender')
print(gender_churn)

Churn         No       Yes
gender
Female  0.730791  0.269209
Male    0.738397  0.261603

In [18]:
partner_status_churn = churn_by_column(churn_df, 'Partner')
print(partner_status_churn)

Churn          No       Yes
Partner
No       0.670420  0.329580
Yes      0.803351  0.196649

In [19]:
dependents_status_churn = churn_by_column(churn_df, 'Dependents')
print(dependents_status_churn)

Churn             No       Yes
Dependents
No          0.687209  0.312791
Yes         0.845498  0.154502

In [20]:
senior_citizen_churn = churn_by_column(churn_df, 'SeniorCitizen')
print(senior_citizen_churn)

Churn                No       Yes
SeniorCitizen
0              0.763938  0.236062
1              0.583187  0.416813

**<h3 style="color:black;">4.2 Churn by Service Usage</h3>**

In [21]:
churn_by_column(churn_df, 'StreamingTV')

Churn                      No       Yes
StreamingTV
No                   0.664769  0.335231
No internet service  0.925950  0.074050
Yes                  0.699298  0.300702

In [22]:
churn_by_column(churn_df, 'InternetService')

Churn                  No       Yes
InternetService
DSL              0.810409  0.189591
Fiber optic      0.581072  0.418928
No               0.925950  0.074050

In [23]:
churn_by_column(churn_df, 'OnlineSecurity')

Churn                      No       Yes
OnlineSecurity
No                   0.582333  0.417667
No internet service  0.925950  0.074050
Yes                  0.853888  0.146112

In [24]:
churn_by_column(churn_df, 'DeviceProtection')

Churn                      No       Yes
DeviceProtection
No                   0.608724  0.391276
No internet service  0.925950  0.074050
Yes                  0.774979  0.225021

**<h3 style="color:black;">4.3 Churn by Billing Type and Contract Details</h3>**

In [25]:
churn_by_column(churn_df, 'tenure').fillna(0)

Churn         No       Yes
tenure
0       1.000000  0.000000
1       0.380098  0.619902
2       0.483193  0.516807
3       0.530000  0.470000
4       0.528409  0.471591
...          ...       ...
68      0.910000  0.090000
69      0.915789  0.084211
70      0.907563  0.092437
71      0.964706  0.035294
72      0.983425  0.016575

[73 rows x 2 columns]

In [26]:
churn_by_column(churn_df, 'Contract')

Churn                 No       Yes
Contract
Month-to-month  0.572903  0.427097
One year        0.887305  0.112695
Two year        0.971681  0.028319

In [27]:
churn_by_column(churn_df, 'MonthlyCharges').fillna(0)

Churn            No  Yes
MonthlyCharges
18.25           1.0  0.0
18.40           1.0  0.0
18.55           1.0  0.0
18.70           1.0  0.0
18.75           1.0  0.0
...             ...  ...
118.20          1.0  0.0
118.35          0.0  1.0
118.60          1.0  0.0
118.65          1.0  0.0
118.75          1.0  0.0

[1585 rows x 2 columns]

In [28]:
churn_by_column(churn_df, 'PaymentMethod')

Churn                            No       Yes
PaymentMethod
Bank transfer (automatic)  0.832902  0.167098
Credit card (automatic)    0.847569  0.152431
Electronic check           0.547146  0.452854
Mailed check               0.808933  0.191067

<h2 style="color:darkcyan;">Key Findings from EDA</h2>

**Demographics**  
  - Senior citizens have a higher churn rate (about 42%) compared to non-seniors (about 24%).  
  - Having a partner or dependents appears to slightly reduce churn.  

**Service Usage**  
  - Customers without internet service churn far less than those that do.  
  - Lack of OnlineSecurity and TechSupport is associated with higher churn.  

**Billing & Contract**
  - Month-to-month contracts show the highest churn rates.  
  - Customers paying via Electronic Check churn significantly more than those using auto-pay options.

---
<h2 style="color:darkcyan;">5. Feature Engineering</h2>

In this section, we performed OneHot Encoding on the categorical columns

In [29]:
binary_columns = ['Partner', 'Dependents', 'Churn', 'PaperlessBilling', 'PhoneService']
for col in binary_columns:
    churn_df[col] = churn_df[col].map({'Yes': 1, 'No': 0})

In [30]:
# create a list of all the categorical fields
categorical_cols = [col for col in churn_df.select_dtypes(include='object').columns
                    if col not in ['customerID', 'Churn']]

In [31]:
churn_df = pd.get_dummies(churn_df, columns=categorical_cols, drop_first=True)

In [32]:
churn_df.head()

,customerID,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,0,1,0,1,29.85,29.85,0,...,False,False,False,False,False,False,False,False,True,False
1,5575-GNVDE,0,0,0,34,1,0,56.95,1889.50,0,...,False,False,False,False,False,True,False,False,False,True
2,3668-QPYBK,0,0,0,2,1,1,53.85,108.15,1,...,False,False,False,False,False,False,False,False,False,True
3,7795-CFOCW,0,0,0,45,0,0,42.30,1840.75,0,...,True,False,False,False,False,True,False,False,False,False
4,9237-HQITU,0,0,0,2,1,1,70.70,151.65,1,...,False,False,False,False,False,False,False,False,True,False

In [34]:
churn_rate = churn_df['Churn'].mean()
print(f"Average Churn Rate: {churn_rate:.2%}")

Average Churn Rate: 26.54%

next steps:

Drop unnecessary columns (e.g., customerID)

Handle missing values if any (e.g., in TotalCharges)

Scale or normalize numeric values (MonthlyCharges, tenure, etc.)

---
<h2 style="color:darkcyan;">6. Modeling</h2>

Your objective: use customer data to predict churn (Churn = Yes)


Use train_test_split from sklearn

Try Logistic Regression first

Then explore Decision Trees, Random Forest, maybe XGBoost

Evaluate with:

Accuracy

Precision / Recall / F1-score

ROC-AUC curve

Confusion matrix

---
<h2 style="color:darkcyan;">7. Model Evaluation</h2>

Which features are most predictive of churn?

Do your EDA findings match the model’s behavior?

What would you recommend a business do based on the model?

---
<h2 style="color:darkcyan;">8. Conclusion</h2>